{% set domain = "019809ec-c66d-7bed-80ff-6a78a282f723-test" %}
{% if VERCEL_TARGET_ENV == "production" %}
  {% set domain = "019809ec-c66d-7bed-80ff-6a78a282f723" %}
{% endif %}

<!-- OneTrust Cookies Consent Notice start for enterpriseidentity.dev -->
<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="{{ domain }}" ></script>
<script type="text/javascript">
function OptanonWrapper() { }
</script>
<!-- OneTrust Cookies Consent Notice end for enterpriseidentity.dev -->
