<section class="space-y-8">
  <div class="space-y-4 md:max-w-60">
    <h2 class="text-sii-light-header dark:text-sii-dark-header text-4xl">Revisit identity foundations</h2>
    <p>Build upon identity fundamentals to scale your app for enterprise needs.</p>
  </div>
  <div class="mt-2 grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 gap-4 auto-rows-fr">
    {%- for item in foundations -%}
    <div class="max-w-xs p-4 flex flex-col space-y-4 bg-sii-light-background border border-sii-border rounded-md shadow-sm dark:bg-sii-dark-background">
      <a href="{{item.link}}" class="grow">
        <h3 class="text-sii-light-header dark:text-sii-dark-header text-2xl">{{item.title}}</h3>
      </a>
      {% linkButton item.link, "Learn" %}
    </div>
  {%- endfor -%}
  </div>
</section>
