<section class="my-4 grid grid-cols-1 md:grid-cols-2 gap-9">
  <div class="md:max-w-60 grid gap-3 grid-rows-[min-content_min-content_min-content]">
    {% include "../elements/themeSwitch.njk"%}
    <h1 class="text-6xl/7 text-sii-light-header dark:text-sii-dark-header mt-1">Identity for Developers</h1>
    <p>We want to help you build secure identity solutions that scale across enterprise environments and work across
      providers. This site is a home for guidance, tools, and best practices from across the identity community. It’s
      created by Okta developers, for developers, with contributions from experts in diverse protocols and technologies
      to help you navigate complexity, avoid common pitfalls, and implement identity the right way.</p>
  </div>
  <div class="hidden row-start-1 md:col-start-2">
    {% include "_hero.njk"%}
  </div>
</section>
