<header class="p-2 flex justify-between min-w-sm">
  <div class="flex text-sii-light-text dark:text-sii-dark-text">
    <img class="w-2.5 mr-1" src="img/favicon.svg" /> <span>Enterprise Identity for Developers</span>
  </div>
  {% include "../elements/themeSwitch.njk"%}
</header>


