<section class="mt-2 grid grid-cols-1 md:grid-cols-2 gap-9 auto-rows-fr">
  {%- for item in collections.topic | sort(attribute='data.order') -%}
  <div class="md:max-w-60 mb-5 grid justify-between gap-2 grow grid-rows-[2fr_min-content_1fr]">
    <div class="flex flex-col justify-between">
      <div class="flex flex-col gap-1.5">
        <div class="flex gap-2 items-center">
          {# {% svgsprite %}
          {% svg item.data.fragment, "w-3 h-3 p-0.5 bg-sii-primary rounded-md fill-sii-light-background
          **:text-sii-primary" %} #}
          <h2 class="text-sii-light-header dark:text-sii-dark-header text-3xl">{{ item.data.title }}</h2>
        </div>
        <p>{{item.data.description }}</p>
      </div>
      <div class="mt-3">
        {% linkButton item.page.url, "Explore" %}
        {# <a href="{{ item.page.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>Explore</a> #}
      </div>
    </div>
  </div>
  {%- endfor -%}
</section>
