@import "tailwindcss";

@theme {
  --color-sii-light-background: #fbfbfb;
  --color-sii-light-header: #191919;
  --color-sii-light-text: #686868;
  --color-sii-dark-background: #0A0c18;
  --color-sii-dark-header: #FFFFFF;
  --color-sii-dark-text: #9C9C9C;
  --color-sii-border: #e1e1e1;
  --color-sii-primary: #644FC1;
  --color-sii-accent: #EDE9FE;
  --breakpoint-md: 72rem;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
