---
layout: topic
tags: topic
order: 4
eleventyNavigation:
  key: Agentic AI
  order: 2
title: Identity for AI
summary: Develop AI agents with security in mind
description: AI agents operate autonomously. Learn to build agentic AI with inherent security, addressing risks like unauthorized actions.
image: img/undraw_security_0ubl.svg
image_alt_text: An illustration of a robot with a shield, representing AI security
learn:
  title: Learn about securing AI agents
  subtitle: Unlock the full potential of AI agents, safely. Learn to build them with robust security from the ground up, preventing misuse, protecting data, and maintaining trust in your intelligent systems.
  resources:
    - { text: Integrate Your Enterprise AI Tools with Cross-App Access, icon: book, link_text: Read article, url: https://developer.okta.com/blog/2025/06/23/enterprise-ai }
    - { text: Intro to OAuth for MCP Servers, icon: video, link_text: Watch video, url: https://www.youtube.com/watch?v=mYKMwZcGynw }
    - { text: OWASP GenAI Security Project, icon: explore, link_text: Explore site, url: https://genai.owasp.org/ }
    - { text: Open Authorization in the World of AI, icon: video, link_text: Watch video, url: https://www.youtube.com/watch?v=B23L2tDikmM }
apply:
  title: Apply AI agent security
  subtitle: Add identity security to machine, bot, and AI agent interaction
  resources:
    - { text: Identity assertion authorization example, icon: code, link_text: Inspect code, url: https://github.com/oktadev/id-assertion-authz-node-example }
reference:
  title: Refer to the specifications and upcoming work
  subtitle: Prepare for the future of identity for AI
  resources:
    - { text: Let's fix OAuth in MCP, icon: bookmark, link_text: Read article, url: https://aaronparecki.com/2025/04/03/15/oauth-for-model-context-protocol }
    - { text: Identity Assertion Authorization Grant, icon: bookmark, link_text: Read reference, url: https://datatracker.ietf.org/doc/draft-parecki-oauth-identity-assertion-authz-grant/ }
---
