---
layout: topic
tags: topic
order: 1
eleventyNavigation:
  key: Authentication
  order: 2
title: Authentication
summary: Secure application access starts here
description: Allow users to access your application with secure authentication methods using a reputable Identity Provider (IdP). Elevate your app's compatibility and maturity with Single Sign-On (SSO) to enable users to authenticate through someone else's IdP.
image: img/undraw_secure-login_m11a.svg
image_alt_text: An illustration of a person logging into a secure system
learn:
  title: Learn about Single Sign-On (SSO)
  subtitle: SSO streamlines logins, boosts security, and is a must-have for enterprise B2B SaaS to reduce friction and accelerate adoption
  resources:
    - { text: Why is single sign-on important, icon: book, link_text: Read article, url: https://www.onelogin.com/learn/why-sso-important }
    - { text: What is Single Sign-On Authentication? And…How Does it Work?, icon: video, link_text: Watch video, url: https://youtube.com/watch?v=Vp6kx4Sd_E0 }
    - { text: "OIDC vs. SAML: Understanding the Differences and Upgrading to Modern Authentication", icon: book, link_text: Read article, url: https://www.beyondidentity.com/resource/oidc-vs-saml-understanding-the-differences }
    - { text: How OpenID Connect Works, icon: book, link_text: Read article, url: https://openid.net/developers/how-connect-works/ }
apply:
  title: Apply what you learned about SSO
  subtitle: Add SSO to an application in a hands-on tutorial
  resources:
    - { text: Authenticate with OpenID Connect, icon: code, link_text: Build app, url: https://developer.okta.com/blog/2023/07/28/oidc_workshop }
reference:
  title: Refer to the specifications
  subtitle: Dive into the references for deeper understanding
  resources:
    - { text: Get to know OpenID, icon: bookmark, link_text: Read reference, url: https://openid.net/developers/ }
---


