---
layout: base
---

<div>
  <div class="md:max-w-60 grid gap-3 grid-rows-[min-content_min-content_min-content]">

  <h1 class="text-6xl/7 text-sii-light-header dark:text-sii-dark-header mt-1">Enterprise Identity for Developers</h1>
    <p>Navigate the complexities of enterprise identity management. We offer guidance and best practices to simplify implementation and help you build secure, scalable identity solutions for your applications, avoiding common pitfalls along the way. Discover resources for developers, created by Okta developer and industry experts. Our aim is to demystify and clarify identity management for you.</p>
  </div>
  {% include "_integrations.njk" %}
</div>
