---
layout: topic
tags: topic
order: 3
eleventyNavigation:
  key: Threat protection
  order: 2
title: Protect from threats
summary: Safeguard apps by detecting and reacting to suspicious activity
description: Watch for suspicious activity such unusual signon behavior, performing atypical actions, or making unexpected access control changes. Take action in your app and alert others. Or react to an existing alarm raised by another app. Protect your customers' data and their trust in your platform by proactively detecting or by reacting to threats.
image: img/undraw_secure-server_lz9x.svg
tutorial_url: https://developer.okta.com/blog/2024/04/30/express-universal-logout
standards_url: https://www.ietf.org/archive/id/draft-parecki-oauth-global-token-revocation-01.html
podcast_url: https://www.youtube.com/watch?v=PfkQmwNZ6S8
video_urls:
  - { text: Global Token Revocation podcast, url: https://www.youtube.com/watch?v=2snTFRFsAs8 }
site_urls:
  - { text: CAEP Transmitter, url: https://caep.dev/ }
---
