---
layout: topic
tags: topic
order: 3
eleventyNavigation:
  key: Threat protection
  order: 2
title: Protect from threats
summary: Safeguard apps by detecting and reacting to suspicious activity
description: Watch for suspicious activity such unusual signon behavior, performing atypical actions, or making unexpected access control changes. Take action in your app and alert others. Or react to an existing alarm raised by another app. Protect your customers' data and their trust in your platform by proactively detecting or by reacting to threats.
image: img/undraw_secure-server_lz9x.svg
learn:
  title: Learn about threat management
  subtitle: Protect your apps by reacting to suspicious activity using Global Token Revocation. Prevent the impact of threats by notifying your ecosystem using the Shared Signals Framework.
  resources:
    - { text: Global Token Revocation podcast, link_text: Listen to the podcast, url: https://youtube.com/watch?v=Vp6kx4Sd_E0 }
    - { text: CAEP Transmitter, link_text: Explore site, url: https://www.onelogin.com/learn/why-sso-important }
    - { text: Another podcast, link_text: Listen to the podcast, url: https://www.youtube.com/watch?v=PfkQmwNZ6S8 }
apply:
  title: Build threat safety into your application
  subtitle: Protect your app by revoking access
  resources:
    - { text: How to Instantly Sign a User Out across All Your Apps, link_text: Build app, url: https://developer.okta.com/blog/2024/04/30/express-universal-logout }
reference:
  title: Read the specs
  subtitle: Get into the weeds and learn all the things
  resources:
    - { text: Global Token Revocation, link_text: Read reference, url: https://www.ietf.org/archive/id/draft-parecki-oauth-global-token-revocation-01.html }
---

