---
layout: topic
tags: topic
order: 2
eleventyNavigation:
  key: User lifecycle
  order: 2
title: Automate user lifecycle
summary: Keep user accounts in sync across systems
description: Synchronize new and updated user account information between your app and a central user directory. Your app gets the changes when a user's profile is updated in the central user directory and vice versa.
          Automate the entire lifecycle of user onboarding, updates, and offboarding. Reduce the complexity your app adds to your enterprise customers' ecosystems.
image: img/undraw_add-user_rbko.svg
tutorial_url: https://developer.okta.com/blog/2023/07/28/oidc_workshop
standards_url: https://openid.net/developers/
site_urls:
  - { text: How OpenID Connect Works, url: https://openid.net/developers/how-connect-works/ }
  - { text: Why is single sign-on important, url: https://www.onelogin.com/learn/why-sso-important }
video_urls:
  - { text: What is Single Sign-On Authentication? And…How Does it Work?, url: https://youtube.com/watch?v=Vp6kx4Sd_E0 }
---

