---
layout: topic
tags: topic
order: 2
eleventyNavigation:
  key: User lifecycle
  order: 2
title: Automate user lifecycle
summary: Keep user accounts in sync across systems
description: Synchronize new and updated user account information between your app and a central user directory. Your app gets the changes when a user's profile is updated in the central user directory and vice versa.
          Automate the entire lifecycle of user onboarding, updates, and offboarding. Reduce the complexity your app adds to your enterprise customers' ecosystems.
image: img/undraw_add-user_rbko.svg
learn:
  title: Learn about User Lifecycle Management (ULM)
  subtitle: Unlock the key to scale user identity within enterprise ecosystems by automating ULM
  resources:
    - { text: The developer's guide to Directory Sync and SCIM, link_text: Read article, url: https://workos.com/guide/the-developers-guide-to-scim }
    - { text: SCIM Playground, link_text: Explore site, url: https://scim.dev/ }
    - { text: A Developer's Guide to SCIM, link_text: Watch video, url: https://www.youtube.com/watch?v=JmA83cy0uVc }
apply:
  title: Apply what you learned about automating user identities
  subtitle: Add SCIM to an application in a hands-on tutorial
  resources:
    - { text: Manage Users with SCIM, link_text: Build app, url: https://developer.okta.com/blog/2023/07/28/scim-workshop }
reference:
  title: Refer to the specifications
  subtitle: Dive into the references for deeper understanding
  resources:
    - { text: System for Cross-domain Identity Management, link_text: Read reference, url: https://scim.cloud/ }
---

