<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include "_meta.njk" %}
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  {%- css %}{% include "public/css/index.css" %}{% endcss %}
  <style>{% getBundle "css" %}</style>

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NTKK42MJ');</script>
  <!-- End Google Tag Manager -->

</head>
<body
  class="min-w-xs bg-sii-light-background dark:bg-sii-dark-background text-sii-light-text dark:text-sii-dark-text">

  <div class="m-8 space-y-8">
    {% include "_header.njk" %}

    <main>
      {{ content | safe }}
    </main>
  </div>

  {% include "_footer.njk" %}

  {% include "_theme.njk" %}
</body>
</html>
