---
layout: base
---

<div class="space-y-12">
  <div class="flex justify-between flex-wrap-reverse space-x-4">
    <div class="md:max-w-68 space-y-4">
      <h1 class="text-6xl/7 text-sii-light-header dark:text-sii-dark-header">{{ title }}</h1>
      <p class="text-lg">{{ description }}</p>
    </div>
    <div class="mb-4 p-4 md:p-8 rounded-md bg-sii-hero-background">
      <img class="max-w-60 max-h-40" src="{{image}}" />
    </div>
  </div>

  {{content | safe }}
</div>

