<footer class="bg-sii-primary py-3 text-sii-light-background text-xs flex flex-col justify-center items-center px-2">
  <div class="flex justify-center items-center gap-0.1">
    <span class="text-sm">Presented by</span>
    <img class="h-[24px]" src="img/okta_logotype.svg" alt="Okta logo"/>
  </div>

  <p class="mt-1">&copy; 2025 Okta, Inc. All Rights Reserved</p>

  <div class="inline-flex gap-2 mt-2 mb-1">
    <a class="hover:underline" href="https://www.okta.com/terms-of-service/">Terms of Service</a>
    <p role="separator">|</p>
    <a class="hover:underline" href="https://www.okta.com/privacy-policy/">Privacy Policy</a>
  </div>

  <p class="text-center">These materials and any recommendations within are not legal, privacy, security, compliance, or business advice. These materials are intended for general informational purposes only and may not reflect the most current security, privacy, and legal developments nor all relevant issues. You are responsible for obtaining legal, security, privacy, compliance, or business advice from your own lawyer or other professional advisor and should not rely on the recommendations herein.</p>

</footer>
