<footer class="bg-sii-primary py-3 text-sii-light-background flex justify-center items-center">
  <span class="mr-2 text-sm">Powered by</span>
  <img class="h-[20px]" src="img/logotype.svg" alt="Okta developers logo"/>
</footer>
