<div class="bg-sii-light-background p-2 rounded-md flex flex-col gap-2">
  <div class="grid grid-cols-2 gap-2">
    <div class="bg-sii-accent rounded-md p-3 flex flex-col gap-3.5">
      <div>
        {% svgsprite %}
        {% svg "entitlements", "w-10 h-10 p-1 bg-sii-primary fill-white rounded-md" %}
      </div>
      <p class="max-w-40 text-sii-light-header">Entitlements Management</p>
    </div>
    <div class="bg-sii-accent rounded-md p-3 flex flex-col gap-3.5">
      <div>
        {% svgsprite %}
        {% svg "shared-signals", "w-10 h-10 p-1 bg-sii-primary fill-white rounded-md" %}
      </div>
      <p class="max-w-30 text-sii-light-header">Risk Signal Sharing</p>
    </div>
    <div class="bg-sii-accent rounded-md p-3 flex flex-col gap-3.5">
      <div>
        {% svgsprite %}
        {% svg "lcm", "w-10 h-10 p-1 bg-sii-primary fill-white rounded-md" %}
      </div>
      <p class="max-w-40 text-sii-light-header">Lifecycle Management</p>
    </div>
    <div class="bg-sii-accent rounded-md p-3 flex flex-col gap-3.5">
      <div>
        {% svgsprite %}
        {% svg "session-termination", "w-10 h-10 p-1 bg-sii-primary fill-white rounded-md" %}
      </div>
      <p class="max-w-30 text-sii-light-header">Session Termination</p>
    </div>
  </div>
  <div class="h-24 flex bg-sii-primary rounded-md justify-center items-center">
    <div>
      {% svgsprite %}
      {% svg "sso", "w-10 h-10 p-1 fill-white rounded-md" %}
    </div>
    <p class="text-white">Single Sign-On</p>
  </div>
</div>

{# TODO: Update text color, fix 2 col spacing with site title div #}
