<section class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-24 auto-rows-fr">
  {%- for item in collections.integration|sort(attribute='data.order') -%}
    <div class="text-sii-light-text dark:text-sii-dark-text md:max-w-160 mb-14 grid justify-between gap-2 h-130 grid-rows-[2fr_min-content_1fr]">
      <div class="flex flex-col justify-between">
        <div class="flex flex-col gap-4">
          <div class="flex gap-2 items-center">
          {% svgsprite %}
          {% svg item.data.fragment, "w-8 h-8 p-1 bg-sii-primary rounded-md fill-white text-sii-primary" %}
          <h2 class="text-sii-light-header dark:text-sii-dark-header text-3xl">{{ item.data.title }}</h2>
          </div>
          <p>{{item.content | safe }}</p>
        </div>
        <div class="inline-flex flex-wrap gap-4">
          {% if item.data.workshop_url %}
            {% linkButton item.data.workshop_url, "Workshop" %}
          {% endif %}
          {% if item.data.podcast_url %}
            {% linkButton item.data.podcast_url, "Podcast" %}
          {% endif %}
          {% if item.data.standards_url %}
            {% linkButton item.data.standards_url, "Standard" %}
          {% endif %}
        </div>
      </div>

      <hr class="h-px my-8 bg-sii-border dark:bg-sii-dark-text border-0"/>

      <div class="flex flex-col mt-1 gap-3">
          {%- for link in item.data.site_urls -%}
            <div class="inline-flex justify-between gap-2 w-full items-center">
              <div class="inline-flex gap-2">
                {% svgsprite %}
                {% svg "site-icon", "w-6 h-6" %}
                {% linkInline link.url, link.text %}
              </div>
              {% svgsprite %}
              {% svg "arrow_forward", "w-4 h-4" %}
            </div>
          {%- endfor -%}
          {%- for link in item.data.video_urls -%}
            <div class="inline-flex justify-between gap-2 w-full items-center">
              <div class="inline-flex gap-2">
                {% svgsprite %}
                {% svg "video-icon", "w-6 h-6" %}
                {% linkInline link.url, link.text %}
              </div>
              {% svgsprite %}
              {% svg "arrow_forward", "w-4 h-4" %}
            </div>
          {%- endfor -%}
      </div>
    </div>
  {%- endfor -%}
</section>


